<% include head %>

<h2><%- heading %></h2>

<p><%= narrative %></p> 

<% include adviselist %>

<img src="/img/code.jpg" alt="Image of Computer code">

<h3><%= advise1 %></h3>
<p><%= advise1para %>.</p>

<h3><%= advise2 %></h3>
<p><%= advise2para %> </p>

<h3><%= advise3 %></h3>
<p><%= advise3para %></p>

<h3><% advise4 %></h3>
<p><%- advise4para %></p>

<h3><%= advise5 %></h3>
<p><%= advise5para %></p>
<p><%= advise5paraContent %> <a href="https://www.meetup.com/" target="_blank">meetup.com</a> <%= advise5Content2 %></p>

<h3><%= closing %></h3>
<p><%= closingpara %></p>

<% include footer.ejs %>