<% include head %>

<h2><%= htmlHeading %></h2>
<p><%- htmlpara1 %></p> 
<p><%= htmlpara2 %></p>
<p><%= htmlpara3 %> <a href=\"https://www.w3schools.com/tags/tag_a.asp\" target=\"_blank\">HTML tags</a> <%= htmlpara3Content %></p>
<p><%= htmlpara4 %></p>
<p><%= htmlpara5 %></p>
<p><%= htmlpara6 %></p>
<p><%= htmlpara7 %></p>
<p><%= htmlpara8 %></p>

<% include footer.ejs %>