<% include head %>

<h2><%= htmlHeading %></h2>
<p><%- htmlpara1 %></p> 
<p><%- htmlpara2 %></p>

<p><%- htmlpara3 %> <a href="https://www.w3schools.com/tags/tag_a.asp" target="_blank">HTML tags</a> <%= htmlpara3Content %></p>

<p><%- htmlpara4 %></p>

<p><%= htmlpara5 %> <a href="https://www.w3schools.com/tags/tag_a.asp" target="_blank">HTML tag</a>, its <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes" target="_blank">attributes</a>, the <a href="https://www.w3schools.com/html/html_urlencode.asp" target="_blank">URL</a> <%=htmlpara5Content %></p>
<a href="/../img/html-link-eg.png" target="_blank"><img id="hyperlink-example" src="img/html-link-eg.png" alt="Photo of a hyperlink syntac and the website it redirects to"></a></article>

<p><%= htmlpara6 %> <a href="https://www.w3schools.com/tags/tag_doctype.asp" target="_blank">doctype</a>, a simplified <a href="https://www.w3schools.com/html/html_charset.asp" target="_blank">charater set</a> declaration, new graphic and multimedia elements <a href="https://medium.freecodecamp.org/what-is-an-api-in-english-please-b880a3214a82" target="_blank">API interfaces</a>, new attributes for form elements and <a href="https://www.w3schools.com/html/html5_semantic_elements.asp" target="_blank">semantic elements</a>. <%= htmlpara6Content %>
</p>

<img id="html5-img" src="img/html5.png" alt="Photo representing HTML 5">

<p><%= htmlpara7 %> <a href="https://www.w3.org/Consortium/" target="_blank">World Wide Web Corsortium</a> <%= htmlpara7Content %></p>

<p><%= htmlpara8 %> <a href="https://www.w3.org/People/Raggett/book4/ch02.html" target="_blank">W3Cs'</a> website. <%= htmlpara8Content %> <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank">Mozilla Developer Network</a> <%= htmlpara8Content2 %> <a href="https://www.w3schools.com/html/html5_intro.asp" target="_blank">W3 Schools</a> <%= htmlpara8Content3 %></p>

<% include body %>

<% include pagination %>

<% include footer %>